{% extends "streams::blank" %}

{% block content %}

    <div class="row top-buffer">

        <div class="col-lg-24">
            {% include "module::admin/permissions/table/partials/roles" %}
        </div>

    </div>

    <br>

    <div class="row top-buffer">

        <div class="col-lg-24">
            {{ content|raw }}
        </div>

    </div>

{% endblock %}
