<div class="list-group">
    <a href="#" class="list-group-item">
        <strong class="list-group-item-heading">Modules</strong>
    </a>
    <a href="#" class="list-group-item active">Addons</a>
    <a href="#" class="list-group-item">Dashboard</a>
    <a href="#" class="list-group-item">Files</a>
    <a href="#" class="list-group-item">Fizl</a>
    <a href="#" class="list-group-item">Newsletters</a>
    <a href="#" class="list-group-item">Pages</a>
    <a href="#" class="list-group-item">Preferences</a>
    <a href="#" class="list-group-item">Settings</a>
    <a href="#" class="list-group-item">Social</a>
    <a href="#" class="list-group-item">Users</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">
        <strong class="list-group-item-heading">Extensions</strong>
    </a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">
        <strong class="list-group-item-heading">Distributions</strong>
    </a>
</div>
