{% extends "streams::wrappers/blank" %}

{% block content %}

    {% if not segment(4) %}

        <div class="row">
            <div class="col-lg-24">

                <div class="list-group">
                    {% for module in modules() %}
                        <a href="{{ url('admin/users/permissions/' ~ module.key) }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ trans(module.name) }}</h4>

                            <p class="list-group-item-text">{{ trans(module.description) }}</p>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="col-lg-24">
                {{ content|raw }}
            </div>
        </div>

    {% endif %}

{% endblock %}