{% for group, permission in config_get(entry.getNamespace('permissions')) %}

    <div class="ui checkbox" style="margin-right: 10px;">
        <input
                type="checkbox"
                name="permission[]"
                value="{{ entry.getNamespace(permission) }}"
                {{ table.options.role.hasPermission(entry.getNamespace(permission)) ? 'checked="checked"' }}
                >

        <label>{{ trans(entry.getNamespace('permission.' ~ permission)) }}</label>
    </div>

{% endfor %}
