{{ entry.username }}

{% if entry.blocked %}
    <small>
        <span class="label label-danger">{{ trans('module::field.blocked.name') }}</span>
    </small>
{% elseif entry.activated %}
    <small>
        <span class="label label-success">{{ trans('module::field.activated.name') }}</span>
    </small>
{% else %}
    <small>
        <span class="label label-default">{{ trans('module::misc.not_activated') }}</span>
    </small>
{% endif %}