<div class="ui horizontal segment basic">
    <div class="ui segment red">

        <div class="ui header">
            {{ table.options.title|raw }}
        </div>

        <p>
            {{ table.options.information|raw }}
        </p>

    </div>
</div>
