{% extends "streams::wrappers/blank" %}

{% block content %}

    <div class="row">

        <div class="col-lg-4">
            {% include "module::admin/permissions/partials/roles" %}
        </div>

        <div class="col-lg-20">
            {{ content|raw }}
        </div>

    </div>

{% endblock %}